@import url("https://v1.fontapi.ir/css/SFProDisplay:400;500");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F1F4F9] overflow-x-hidden;
    font-family: "SF Pro Display";
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .icon {
    @apply text-[#ADBFDF] font-semibold hover:text-[#002CFB] cursor-pointer transition duration-150 ease-out;
  }

  .table-header {
    @apply font-normal text-[14px] text-[#899CB1];
  }

  .regular-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    text-align: left;
  }

  .medium-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    font-style: normal;
  }

  .appbar-text--rating-block {
    @apply text-[#122945] leading-[148%] text-[14px] whitespace-nowrap space-y-[5px];
  }

  .date-menu--item {
    @apply h-[40px] py-[6px] pl-[20px] text-[14px] leading-[28px] hover:bg-[#002CFB]/10 cursor-pointer transition duration-150 ease-out;
  }
}
